# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
dist/
build/

# Virtual environment
.venv/

# Deep learning models & weights
*.pt
*.pth
*.onnx
*.engine
*.tflite

# Datasets & training runs
datasets/
data/*
!data/samples/
!data/samples/.gitkeep
runs/

# Experiment results
experiments/*
!experiments/README.md
!experiments/.gitkeep
outputs/

# IDE & editor
.idea/
# .vscode/

# Environment & secrets
.env
.env.*

# OS
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints/

# Logs & temp
*.log
tmp/
